
@{
    Layout = "";
    ViewBag.Title = "Index";
}

<link href="~/Content/myStyle.css" rel="stylesheet" />
<h2>Index</h2>

<h2>Sass Demo</h2> <div class="first-div">&nbsp;</div> <div class="second-div">&nbsp;</div>
<h2>Sass Demo</h2> <div class="first-div">&nbsp;</div> <div class="second-div">&nbsp;</div>
<h2>Sass Demo</h2>
<div class="first-div">&nbsp;</div>
<div class="second-div">&nbsp;</div>

<a class="button" href="#">أستغفر الله و أتوب إلية</a>



