<!-- Carousel
                ================================================== -->
<div id="myCarousel" class="carousel slide carousel-bg" data-ride="carousel">
@Html.Action("siteCarousel", "Carousel")
</div>
