
<!-- /END THE FEATURETTES -->
<!-- FOOTER -->
<footer>
    <div class="row" style="background-color:#295288;">
        <div class="container">
            <div class="col-md-12" >
                <p class="pull-right">
                    <a href="#">Back to top</a>
                </p>
                <p style="text-align:center; color:#fff; font-weight:bold;">
                    &copy; 2016 OMX, Inc. 
                </p>
            </div>
        </div>
    </div>
    
</footer>
