
<!-- Starts of our Latest News -->
<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="col-md-6">
            @Html.Action("siteNewsLst", "NewsList")
            <!--End of News Container -->
        </div>

        <!--Starts of Events -->
        <div class="col-md-6">
            <div class="events-container ">
                <div class="controllers">
                    <div class="controllers-btn">
                        <a class="btnleft" aria-hidden="true">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>

                        </a>
                        <a class="btnright" aria-hidden="true">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="sliderEvents">
                    @Html.Action("siteNewsSliding", "NewsList")
                    @*<div class="item">
                        <div class="row">
                            <div class="col-xs-9 col-sm-9 col-md-9">
                                <h4>
                                    <span>This is just an event title </span>
                                    </h4>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <span class="event-date">Event Date:01/01/2016</span>
                            </div>

                        </div>
                        <div class="row center">
                            <div class="col-xs-12 col-md-12 img-container">
                                <img class="" title="OMXproduct 1" alt="Omax" src="~/Content/Images/DP_webinar.png" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <p class="event-details">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ullam, dolorem vitae culpa voluptatem sapiente eum. Voluptatum, corporis necessitatibus harum rem accusantium, nam est velit vel dicta, id minima fugit!
                                </p>
                                <!--<div class="price"></div>-->
                            </div>
                        </div>
                        <div class="row center">
                            <div class="col-xs-12 event-link">
                                <a class="btn btn-large btn-primary btn-external-url " href="#" target="_blank">
                                    <i class="fa fa-ticket fa-1x"></i>
                                    Sign up now!
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xs-9 col-sm-9 col-md-9">
                                <h4>
                                    <span>This is just an event title </span>
                                    </h4>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <span class="event-date">Event Date:01/01/2016</span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 img-container">
                                <img class="img-responsive" title="OMXproduct 1" alt="Omax" src="~/Content/Images/ipvt_square.png" />
                            </div>
                        </div>

                        <div class="row left">
                            <div class="col-xs-12 col-md-12">
                                <p class="event-details">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ullam, dolorem vitae culpa voluptatem sapiente eum. Voluptatum, corporis necessitatibus harum rem accusantium, nam est velit vel dicta, id minima fugit!
                                </p>
                                <!--<div class="price"></div>-->
                            </div>
                        </div>
                        <div class="row center">
                            <div class="col-xs-12 event-link">
                                <a class="btn btn-large btn-primary btn-external-url " href="#" target="_blank">
                                    <i class="fa fa-ticket fa-1x"></i>
                                    Sign up now!
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xs-9 col-sm-9 col-md-9">
                                <h4>
                                    <span>This is just an event title </span>
                                    </h4>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <span class="event-date">Event Date:01/01/2016</span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 img-container">
                                <img class="img-responsive" title="OMXproduct 1" alt="Omax" src="~/Content/Images/surveillance_logo_300x300.png" />
                            </div>
                        </div>

                        <div class="row left">
                            <div class="col-xs-12 col-md-12">
                                <p class="event-details">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ullam, dolorem vitae culpa voluptatem sapiente eum. Voluptatum, corporis necessitatibus harum rem accusantium, nam est velit vel dicta, id minima fugit!
                                </p>
                                <!--<div class="price"></div>-->
                            </div>
                        </div>
                        <div class="row center">
                            <div class="col-xs-12 event-link">
                                <a class="btn btn-large btn-primary btn-external-url " href="#" target="_blank">
                                    <i class="fa fa-ticket fa-1x"></i>
                                    Sign up now!
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xs-9 col-sm-9 col-md-9">
                                <h4>
                                    <span>This is just an event title </span>
                                    </h4>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <span class="event-date">Event Date:01/01/2016</span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 img-container">
                                <img class="img-responsive" title="OMXproduct 1" alt="Omax" src="~/Content/Images/V3-02.png" />
                            </div>
                        </div>

                        <div class="row left">
                            <div class="col-xs-12 col-md-12">
                                <p class="event-details">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ullam, dolorem vitae culpa voluptatem sapiente eum. Voluptatum, corporis necessitatibus harum rem accusantium, nam est velit vel dicta, id minima fugit!
                                </p>
                                <!--<div class="price"></div>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 event-link">
                                <a class="btn btn-large btn-primary" href="" target="_blank">
                                    <i class="fa fa-ticket fa-1x"></i>
                                    Sign up now!
                                </a>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div><!--End of Events -->
        </div>
    </div>
</div>
<!-- End of our Latest News -->
