<div class="container" style="background-color: #fff; padding-bottom: 25px; padding-top: 76px;">
    <div class="row">
        <div class="col-md-12">
            <div class="slider-container">
                <div class="controllers">
                    <div class="controllers-btn">
                        <a class="btnleft" aria-hidden="true">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>

                        </a>
                        <a class="btnright" aria-hidden="true">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="slider">
                    @Html.Action("productSliding", "ProductSliding")
                  <div class="item">

                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper">
                                <span class="sale corner-new"><span>NEW</span></span>
                                <div class="front">
                                    <img width="270" height="270" title="OMXproduct 1" alt="Omax" src="http://www.grandstream.com/sites/default/files/styles/product_270x270/public/Products/gvc3202_square.png?itok=gky2T9Kf" />

                                    <div class="product-description">
                                        <div class="vertical">
                                            <h3 class="product-name">
                                                <a href="#">OMxProductOne</a>
                                            </h3>
                                            <!--<div class="price"></div>-->
                                        </div>
                                    </div>

                                </div>
                                <div class="back">
                                    <div class="prodetails">
                                        <div class="proName">
                                            <h3>
                                                <a href="#">Product One</a>
                                            </h3>
                                        </div>
                                        <div class="proImg">
                                            <img width="80" height="80" title="OMXproduct 1" alt="Omax" src="http://www.grandstream.com/sites/default/files/styles/product_270x270/public/Products/gvc3202_square.png?itok=gky2T9Kf"/>
                                        </div>
                                        <div class="proInfo">
                                            <ul>
                                                <li><i class="fa fa-check" aria-hidden="true"></i>item1</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i>item2</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i>item3</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i>item4</li>
                                            </ul>
                                            <div class="more-proInfo">
                                                <a href="#">
                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper">
                                <span class="sale corner-new"><span>NEW</span></span>
                                <div class="front">
                                    <img width="270" height="270" title="OMXproduct 1" alt="Omax" src="http://www.grandstream.com/sites/default/files/styles/product_270x270/public/Products/gxp1628_front.png?itok=Y5aQLZoB" />

                                    <div class="product-description">
                                        <div class="vertical">
                                            <h3 class="product-name">
                                                <a href="#">OMxProductOne</a>
                                            </h3>
                                            <!--<div class="price"></div>-->
                                        </div>
                                    </div>

                                </div>
                                <div class="back">
                                    <div class="prodetails">
                                        <div class="proName">
                                            <h3>
                                                <a href="#">Product One</a>
                                            </h3>
                                        </div>
                                        <div class="proImg">
                                            <img width="80" height="80" title="OMXproduct 1" alt="Omax" src="http://www.grandstream.com/sites/default/files/styles/product_270x270/public/Products/gxp1628_front.png?itok=Y5aQLZoB" />
                                        </div>
                                        <div class="proInfo">
                                            <ul>
                                                <li><i class="fa fa-check" aria-hidden="true"></i>item1</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i>item2</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i>item3</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i>item4</li>
                                            </ul>
                                            <div class="more-proInfo">
                                                <a href="#">
                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper">
                                <span class="sale corner-new"><span>NEW</span></span>
                                <div class="front">
                                    <img width="270" height="270" title="OMXproduct 1" alt="Omax" src="http://www.grandstream.com/sites/default/files/styles/product_270x270/public/Products/gac2500_1_0.jpg?itok=uDwkPqbC" />

                                    <div class="product-description">
                                        <div class="vertical">
                                            <h3 class="product-name">
                                                <a href="#">OMxProductOne</a>
                                            </h3>
                                            <!--<div class="price"></div>-->
                                        </div>
                                    </div>

                                </div>
                                <div class="back">
                                    <div class="prodetails">
                                        <div class="proName">
                                            <h3>
                                                <a href="#">Product One</a>
                                            </h3>
                                        </div>
                                        <div class="proImg">
                                            <img width="80" height="80" title="OMXproduct 1" alt="Omax" src="http://www.grandstream.com/sites/default/files/styles/product_270x270/public/Products/gac2500_1_0.jpg?itok=uDwkPqbC" />
                                        </div>
                                        <div class="proInfo">
                                            <ul>
                                                <li><i class="fa fa-check" aria-hidden="true"></i>item1</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i>item2</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i>item3</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i>item4</li>
                                            </ul>
                                            <div class="more-proInfo">
                                                <a href="#">
                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper">
                                <span class="sale corner-new"><span>NEW</span></span>
                                <div class="front">
                                    <img width="270" height="270" title="OMXproduct 1" alt="Omax" src="http://www.grandstream.com/sites/default/files/styles/product_270x270/public/GXV3662picSingle.JPG?itok=9OITL_4P" />

                                    <div class="product-description">
                                        <div class="vertical">
                                            <h3 class="product-name">
                                                <a href="#">OMxProductOne</a>
                                            </h3>
                                            <!--<div class="price"></div>-->
                                        </div>
                                    </div>

                                </div>
                                <div class="back">
                                    <div class="prodetails">
                                        <div class="proName">
                                            <h3>
                                                <a href="#">Product One</a>
                                            </h3>
                                        </div>
                                        <div class="proImg">
                                            <img width="80" height="80" title="OMXproduct 1" alt="Omax" src="http://www.grandstream.com/sites/default/files/styles/product_270x270/public/GXV3662picSingle.JPG?itok=9OITL_4P" />
                                        </div>
                                        <div class="proInfo">
                                            <ul>
                                                <li><i class="fa fa-check" aria-hidden="true"></i>item1</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i>item2</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i>item3</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i>item4</li>
                                            </ul>
                                            <div class="more-proInfo">
                                                <a href="#">
                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper">
                                <span class="sale corner-new"><span>NEW</span></span>
                                <div class="front">
                                    <img width="270" height="270" title="OMXproduct 1" alt="Omax" src="http://www.grandstream.com/sites/default/files/styles/product_270x270/public/Products/gxp2135_front.png?itok=Ihu85_vF" />

                                    <div class="product-description">
                                        <div class="vertical">
                                            <h3 class="product-name">
                                                <a href="#">OMxProductOne</a>
                                            </h3>
                                            <!--<div class="price"></div>-->
                                        </div>
                                    </div>

                                </div>
                                <div class="back">
                                    <div class="prodetails">
                                        <div class="proName">
                                            <h3>
                                                <a href="#">Product One</a>
                                            </h3>
                                        </div>
                                        <div class="proImg">
                                            <img width="80" height="80" title="OMXproduct 1" alt="Omax" src="http://www.grandstream.com/sites/default/files/styles/product_270x270/public/Products/gxp2135_front.png?itok=Ihu85_vF" />
                                        </div>
                                        <div class="proInfo">
                                            <ul>
                                                <li><i class="fa fa-check" aria-hidden="true"></i>item1</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i>item2</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i>item3</li>
                                                <li><i class="fa fa-check" aria-hidden="true"></i>item4</li>
                                            </ul>
                                            <div class="more-proInfo">
                                                <a href="#">
                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

