
<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-md-12 marketing-top">
            <h2>Award-winning IP voice, video, data and mobility solutions</h2>
            <p>Grandstream Networks has been manufacturing award-winning IP voice and video telephony, video conferencing and video surveillance products since 2002</p>
        </div>
    </div>
    @Html.Action("proLstTop", "ProductList")
    @*<div class="row">

        <div class="col-lg-4">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                <div class="marketing-top-img">
                    <img class="" src="~/Content/Images/devices_picto.jpg" alt="Generic placeholder image">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                <div class="text-center"><h3 class="title">Leading edge IP Products and Solutions</h3></div>
                <p class="rtecenter"><span style="color:#999999;"><span style="font-size:16px;">The Grandstream brand means quality, reliability and innovation. Our award-winning products allow business to be more productive than ever before</span></span></p>
                <a class="btn-primary btn btn-border" style=" text-align:center;" href="/our-products"> Read more</a>

            </div><!-- /.col-lg-4 -->
        </div>
        <div class="col-lg-4">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                <div class="marketing-top-img">
                    <img class="" src="~/Content/Images/earth_picto.jpg" alt="Generic placeholder image">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                <div class="text-center"><h3 class="title">Leading edge IP Products and Solutions</h3></div>
                <p class="rtecenter">
                    <span style="color: #999999;"><span style="font-size: 16px;">The Grandstream brand means quality, reliability and innovation. Our award-winning products allow business to be more productive than ever before</span></span>
                </p>
                <a class="btn-primary btn btn-border" style="text-align: center;" href="/our-products"> Read more</a>

            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                <div class="marketing-top-img">
                    <img class="" src="~/Content/Images/wrench_picto.jpg" alt="Generic placeholder image">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                <div class="text-center"><h3 class="title">Leading edge IP Products and Solutions</h3></div>
                <p class="rtecenter"><span style="color:#999999;"><span style="font-size:16px;">The Grandstream brand means quality, reliability and innovation. Our award-winning products allow business to be more productive than ever before</span></span></p>
                <a class="btn-primary btn btn-border" style="text-align: center;" href="/our-products"> Read more</a>

            </div>
        </div><!-- /.col-lg-4 -->
    </div>*@<!-- /.row -->
    <!-- START THE FEATURETTES -->
</div><!-- /.container -->
<div class="product-block" style="padding-bottom: 40px; padding-top: 50px;">
    <div style="background-image: url('../../Content/Images/fond-grandstream.jpg');" class="pro-bg-fixed"></div>
    @Html.Action("proLstBottom", "ProductList")

    @*<div class="row" style="padding-bottom: 80px;">
        <div style="text-align: center;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="white-text text-center">
                <h2 class="title">Our Products and Solutions</h2>
            </div>
            <p class="rtecenter"><span style="color: rgb(255, 255, 255); font-size: 16px;">Grandstream designs and manufactures a wide-range of award winning products and solutions</span></p>
        </div>
    </div>
    <div class="row" style="padding-bottom: 45px;">
        <div class="col-sm-4 col-md-4 col-lg-4" style="padding-right: 40px; padding-left: 40px; text-align: center;">
            <div class="caption" style="max-width: 265px; margin-bottom: 10px;">
                <img title="" alt="" class="img-rounded" src="http://www.grandstream.com/sites/default/files/thumb_video-conference.png">
                <div class="description">
                </div>
            </div>
            <div class="white-text text-center">
                <h3 class="title">Business Conferencing</h3>
            </div>
            <p class="rtecenter"><span style="color: #FFFFFF;">Grandstream’s video conferencing solutions offer small and medium sized businesses flexibility and ease-of-installation along with powerful features</span></p>
            <a style="text-align: center;" href="/products/business-conferencing" class="btn-info btn-lg btn btn-border">
                See products
            </a>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" style="padding-right: 40px; padding-left: 40px; text-align: center;">
            <div class="caption" style="max-width: 265px; margin-bottom: 10px;">
                <img title="" alt="" class="img-rounded" src="http://www.grandstream.com/sites/default/files/thumb_voice-telephony.png">
                <div class="description">
                </div>
            </div>
            <div class="white-text text-center">
                <h3 class="title">IP Voice Telephony</h3>
            </div>
            <p class="rtecenter"><span style="color: #FFFFFF;">Grandstream offers a wide-range of IP Phones, from small business to enterprise to cordless, to best suit every business and every type of user</span></p>
            <a style="text-align: center;" href="/products/ip-voice-telephony" class="btn-info btn-lg btn btn-border">
                See products
            </a>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" style="padding-right: 40px; padding-left: 40px; text-align: center;">
            <div class="caption" style="max-width: 265px; margin-bottom: 10px;">
                <img title="" alt="" class="img-rounded" src="http://www.grandstream.com/sites/default/files/thumb_video-telephony.png">
                <div class="description">
                </div>
            </div>
            <div class="white-text text-center">
                <h3 class="title">IP Video Telephony</h3>
            </div>
            <p class="rtecenter"><span style="color: #FFFFFF;">The GXV3200 series of IP Video Phones for Android &trade; are 6-line IP phones that offer full access to the Google Play Store, multi-platform video calling and more</span></p>
            <a style="text-align: center;" href="/products/ip-video-telephony" class="btn-info btn-lg btn btn-border">
                See products
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4" style="padding-right: 40px; padding-left: 40px; text-align:center;">
            <div class="caption" style="max-width:265px; margin-bottom: 10px;">
                <img title="" alt="" class="img-rounded" src="http://www.grandstream.com/sites/default/files/thumb_video-surveillance.png">
                <div class="description">
                </div>
            </div>
            <div class="white-text text-center"><h3 class="title">IP Video Surveillance</h3></div>
            <p class="rtecenter"><span style="color:#FFFFFF;">With a complete line of IP video surveillance solutions, Grandstream provides everything needed for a video surveillance solution</span></p>
            <a style=" text-align:center;" href="/products/ip-video-surveillance" class="btn-info btn-lg btn btn-border">
                See products
            </a>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" style="padding-right: 40px; padding-left: 40px; text-align:center;">
            <div class="caption" style="max-width:265px; margin-bottom: 10px;">
                <img title="" alt="" class="img-rounded" src="http://www.grandstream.com/sites/default/files/Product%20Categories/thumb_gateways-ata.png">
                <div class="description">
                </div>
            </div>
            <div class="white-text text-center"><h3 class="title">Gateways and ATAs</h3></div>
            <p class="rtecenter"><span style="color:#FFFFFF;">Grandstream's wide-range of Gateways and ATAs are trusted by some of the largest service providers in the world</span></p>
            <a style=" text-align:center;" href="/products/gateways-and-atas" class="btn-info btn-lg btn btn-border">
                See products
            </a>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" style="margin-bottom: 60px; padding-right: 40px; padding-left: 40px; text-align:center;">
            <div class="caption" style="max-width:265px; margin-bottom: 10px;">
                <img title="" alt="" class="img-rounded" src="http://www.grandstream.com/sites/default/files/thumb_gateway.png">
                <div class="description">
                </div>
            </div>
            <div class="white-text text-center"><h3 class="title">IP PBXs</h3></div>
            <p class="rtecenter"><span style="color:#FFFFFF;">Grandstream’s UCM series of IP PBXs offer an extensive set of unified communication features in easy-to-manage on premise IP PBXs with no licensing fees</span></p>
            <a style=" text-align:center;" href="/products/ip-pbxs" class="btn-info btn-lg btn btn-border">
                See products
            </a>
        </div>
    </div>*@
</div>


